<link rel="stylesheet" type="text/css" href="public/stylesheets/about.less">
<div id="content">
  Minami.rb＋Okinawa.rb共催の<br />
  RailsによるHackathonを開催します。<br />
  <br />
  Rails初心者の方もベテランの方も、一緒にRailsで遊びませんか？<br />
  <br />
  フットワークの軽いRailsだからこそ、<br />
  １週間もあればそれなりのサイトができてしまいますよね。<br />
  初心者の方も、経験者と何か一つ作り上げることで、<br />
  次につながるものがあると思いますので、遠慮しないで参加してください。<br />
  デザイナさんの参加も大歓迎です。<br />
  <br />
  そして、今回は何と言っても、最後の集合場所は<b>沖縄</b>！<br />
  Hackathonのあとは、おいしい沖縄料理とビールに舌鼓をうって、<br />
  Ruby/Rails談義に花を咲かせましょう！<br />
  <br />
  ご質問等は、お近くのコミュニティー(<a href="http://qwik.jp/minamirb/" target="_blank">Minami.rb</a> / <a href="http://qwik.jp/okinawarb/" target="_blank">Okinawa.rb</a>)へお問い合わせください。<br />
  それでは、みなさまのご参加をお待ちしています。<br />
  <br />
  p.s.このサイトのソースは次のところで公開されています。<br />
  <a href="https://github.com/satomicchy/RailsHackathon2012" target="_blank">Github</a>
</div>
