<link rel="stylesheet" type="text/css" href="public/stylesheets/about.less">
<div id="content">
  <div id="lang_link"><a href="/about_en">English</a></div>

  Minami.rb＋Okinawa.rb＋Shibuya.rb共催の<br />
  RailsによるHackathonを開催します！<br />
  <br />
  Rails初心者の方もベテランの方も、一緒にRailsで遊びませんか？<br />
  <br />
  フットワークの軽いRailsだからこそ、<br />
  １週間もあればそれなりのサイトができてしまいますよね。<br />
  初心者の方も、経験者と何か一つ作り上げることで、<br />
  次につながるものがあると思いますので、遠慮しないで参加してください。<br />
  デザイナさんの参加も大歓迎です。<br />
  <br />
  そして、今回は何と言っても、最後の集合場所は<b>沖縄</b>！<br />
  Hackathonのあとは、おいしい沖縄料理とビールに舌鼓をうって、<br />
  Ruby/Rails談義に花を咲かせましょう。<br />
  <br />
  ご質問等は、お近くのコミュニティー(<a>Minami.rb</a> / <a>Okinawa.rb</a> / <a>Shibuya.rb</a>)へお問い合わせください。(各コミュのサイトへは左下の"Produced by"から行けます。)<br />
  <br />
  それでは、みなさまのご参加をお待ちしています。<br />
  <br />
  p.s.このサイトのソースは<a href="https://github.com/satomicchy/RailsHackathon2012" target="_blank">Github</a>で公開されています。
</div>
