<link rel="stylesheet" type="text/css" href="public/stylesheets/about.less">
<div id="content">
  <div id="lang_link"><a href="/">日本語</a></div>

  Rails Hackathon is hosted by Minami.rb, Okinawa.rb, and Shibuya.rb.<br />
  <br />
  It's a place for beginners and veterans to play with Rails together.<br />
  <br />
  With Rails, you can build a rough website within a week.<br />
  Even if you're an absolute beginner, don't hesitate to participate! You will learn by working with experienced developers.<br />
  <br />
  We're also looking for designers to participate!<br />
  <br />
  And finally, this Hackathon will be held in <b>Okinawa!</b><br />
  Afterwards you can discuss Ruby and Rails over delicious Okinawan food and beer!<br />
  <br />
  <br />
  p.s. You can see the source code for this site: 
  <a href="https://github.com/satomicchy/RailsHackathon2012" target="_blank">Github</a>
</div>
