<link rel="stylesheet" type="text/css" href="public/stylesheets/index.less">
<div id="content">
  <u>＊諸注意＊</u><br />
  【参加スタイル】
  <div id="join_style">
    <table class="join_style_table">
      <tr>
        <td>Ideathon</td>
        <td class="join_style_middle">x</td>
        <td>Hackathon</td>
      </tr>
    </table>
    <table class="join_style_table">
      <tr>
        <td>会場</td>
        <td class="join_style_middle">x</td>
        <td>会場</td>
      </tr>
    </table>
    <table class="join_style_table">
      <tr>
        <td>会場</td>
        <td class="join_style_middle">x</td>
        <td>遠隔 (自宅からSkypeなど)</td>
      </tr>
    </table>
    <table class="join_style_table">
      <tr>
        <td>欠席 (後日チームメンバーと連絡)</td>
        <td class="join_style_middle">x</td>
        <td>会場</td>
      </tr>
    </table>
  </div>

  【費用】
  <div class="each_content">
    参加費は開催当日にそれぞれの会場でいただきます。<br />
    また、Ideathon会場または沖縄までの移動は参加費に含まれませんので、みなさんで沖縄までの航空券をげっとしてください。
  </div>

  【沖縄入りの時間】<br />
  <div class="each_content">
    基本的に何時に沖縄着でもかまいません。何時に来られるか、Ideathonに参加するコミュニティーの人にご連絡ください。
  </div>

  【PC環境など】
  <div class="each_content">
    ネット環境はあまり期待しないでください。e-mobileなどお持ちの方は、ご持参いただきますよう、お願いいたします。
  </div>

  <p>
    <u>＊2012年9月15日＊</u><br />
    申込ページを追加しました。
  </p>

  <p>
    <u>＊2012年6月吉日＊</u><br />
    本サイトを公開しました。
  </p>
</div>
