<link rel="stylesheet" type="text/css" href="public/stylesheets/index.less">
<div id="content">
  <u>＊Q and A＊</u><br />
  <p>
    Ｑ：一人でも参加できますか？<br />
    Ａ：はい、お一人でも参加可能です！<br />
  </p>

  <p>
    Ｑ：同じコミュニティーの人と参加しなければいけませんか？<br />
    Ａ：いいえ、コミュニティーの単位は関係ありません。誘い合ってもいいですし、一人でふらっと参加でもOKです。<br />
  </p>

  <p>
    Ｑ：アイデアソン会場はどこへ行けばいいですか？<br />
    Ａ：今回のアイデアソンは、大阪市、那覇市、渋谷区で行います。お近くの会場へお申し込みしてご参加ください。<br />
  </p>

  <p>
    Ｑ：チームはどうなりますか？<br />
    Ａ：アイデアソンの会場内で2〜4人のチーム分けを行います。どのようにチーム分けをするかは、会場毎に異なりますので、もし、指名もしくは同じチームになりたい方がいらっしゃいましたら、お早めに主催コミュニティーのメンバーへご連絡ください。<br />
  </p>

  <p>
    Ｑ：チームは面倒なんですけど・・・<br />
    Ａ：チームを組まなくても一人開発OKです。ご希望の方は主催コミュニティーのメンバーへご連絡ください。<br />
  </p>
