<link rel="stylesheet" type="text/css" href="public/stylesheets/report.less">
<div id="content">
  <b><u>＊YouTube＊</u></b><br />
  成果発表の様子です。
  Thank you, <a href="https://jp.twitter.com/yasulab" target="_blank">@yasulab</a> !<br />
  <ul>
    <li><a href="http://www.youtube.com/watch?v=1TVVncigQN8" target="_blank">弁天</a></li>
    <li><a href="http://www.youtube.com/watch?v=mVTFDr8UNPQ" target="_blank">うさがみそーれ</a></li>
    <li><a href="http://www.youtube.com/watch?v=unYAVFzSOKc" target="_blank">離乳食レシピ</a></li>
    <li><a href="http://www.youtube.com/watch?v=nVMvKHsY_fY" target="_blank">GISTAR</a></li>
    <li><a href="http://www.youtube.com/watch?v=3c6Kb4bNmJs" target="_blank">Dashing</a></li>
    <li><a href="http://www.youtube.com/watch?v=VbQcj2kki_M" target="_blank">有給レコーティング</a></li>
    <li><a href="http://www.youtube.com/watch?v=4JFOWFmILj4" target="_blank">ScreenX TV</a></li>
  </ul>

  <b><u>＊写真＊</u></b><br />
  <p>
    Thanks to <a href="https://jp.twitter.com/to_ueda" target="_blank">@to_ueda</a>. <a href="http://sdrv.ms/UJrt55" target="_blank"> => <b>SkyDrive</b></a>
  </p>
  <p>
    Thanks to <a href="https://jp.twitter.com/satomicchy" target="_blank">@satomicchy</a>. <a href="http://www.flickr.com/photos/satomicchy/sets/72157632182043545/" target="_blank"> => <b>flickr</b></a>
  </p>
</div>
