<link rel="stylesheet" type="text/css" href="public/stylesheets/schedule.less">
<div id="content">
  <table cellspacing="0">
    <tr>
      <th width="90">日時</th>
      <th width="150">場所(費用)</th>
      <th width="60">タイトル</th>
      <th width="310">メモ</th>
    </tr>
    <tr>
      <td>
        11/17(土)PM
      </td>
      <td>
        各コミュニティー会場<br />(各会場にて)
      </td>
      <td>
        Ideathon
      </td>
      <td>
        ・グループわけ<br />
        ・各グループでのアイデア出し、設計<br />
        ・アイデア発表<br />
      </td>
    </tr>
    <tr>
      <td>
        11/18(日)<br />
        &nbsp;&nbsp;から<br />
        11/24(土)AM
      </td>
      <td>
        各自好きな場所で
      </td>
      <td>
        Ideathon<br />実装
      </td>
      <td>
        この間にグループそれぞれでの設計、実装を進めてください。
      </td>
    </tr>
    <tr>
      <td class="small">
        11/23(金)<br />10:00〜17:00<br />
        11/24(土)<br />10:00〜12:00<br />(予定)
      </td>
      <td>
        <a href="http://it-shinryo.org/kaigi.html" target="_blank">沖縄ＩＴ津梁パーク</a><br />(無料！)
      </td>
      <td>
        Ideathon<br />実装
      </td>
      <td>
        会場解放！沖縄にいる人、いっしょにもくもくしましょう！
      </Td>
    </tr>
    <tr>
      <td class="small">
        11/24(土)<br />13:30〜16:30<br />(予定)
      </td>
      <td>
        <a href="http://it-shinryo.org/kaigi.html" target="_blank">沖縄ＩＴ津梁パーク</a><br />(無料！)
      </td>
      <td>
        Hackathon発表
      </td>
      <td>
        ・グループ毎の作品発表(各10分)<br />
        ・全員で投票、最優秀作品決定<br />
      </td>
    </tr>
    <tr>
      <td>
        11/24(土)夜
      </td>
      <td>
        <a href="http://www.paikaji.jp/tenpo/honten.html" target="_brank">ぱいかじ</a>の予定<br />(4~5千円ぐらい?)
      </td>
      <td>
        懇親会
      </td>
      <td>
        食べたり飲んだり
      </td>
    </tr>
    <tr>
      <td>
        11/24(土)夜
      </td>
      <td>
      </td>
      <td>
        解散
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        11/25(日)
      </td>
      <td>
      </td>
      <td>
        帰宅・観光など
      </td>
      <td>
        特にこちらで団体観光の計画はありません。<br />
        みなさまでお楽しみください。
      </td>
    </tr>
  </table>
</div>
