<link rel="stylesheet" type="text/css" href="public/stylesheets/schedule.less">
<div id="content">
  <table>
    <tr>
      <th width="90">日時</th>
      <th width="134">場所</th>
      <th width="60">タイトル</th>
      <th>メモ</th>
    </tr>
    <tr>
      <td>
        11/17(土)PM
      </td>
      <td>
        各コミュニティー会場
      </td>
      <td>
        Ideathon
      </td>
      <td>
        ・グループわけ<br />
        ・各グループでのアイデア出し、設計<br />
        ・アイデア発表<br />
      </td>
    </tr>
    <tr>
      <td>
        11/18(日)<br />
        &nbsp;&nbsp;から<br />
        11/24(土)AM
      </td>
      <td>
        各自好きな場所で
      </td>
      <td>
        Ideathon<br />実装
      </td>
      <td>
        この間にグループそれぞれでの設計、実装を進めてください。
        11/23,24は沖縄で集まって作業ができる場所を確保する予定です。
      </td>
    </tr>
    <tr>
      <td>
        11/24(土)PM
      </td>
      <td>
        沖縄のどこか
      </td>
      <td>
        Hackathon発表
      </td>
      <td>
        ・グループ毎の作品発表(各3〜10分)<br />
        ・全員で投票、最優秀作品決定<br />
      </td>
    </tr>
    <tr>
      <td>
        11/24(土)夜
      </td>
      <td>
        沖縄のどこか
      </td>
      <td>
        懇親会
      </td>
      <td>
        食べたり飲んだり
      </td>
    </tr>
    <tr>
      <td>
        11/24(土)夜
      </td>
      <td>
      </td>
      <td>
        解散
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        11/25(日)
      </td>
      <td>
      </td>
      <td>
        帰宅・観光など
      </td>
      <td>
        特にこちらで団体観光の計画はありません。<br />
        みなさまでお楽しみください。
      </td>
    </tr>
  </table>
</div>
