<link rel="stylesheet" type="text/css" href="public/stylesheets/teams.less">
<div id="content">
  <div class="each_content">
    <u>＊Osaka＊</u><br />
    【benten】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/yalab" target="_blank">@yalab</a>, <a href="https://jp.twitter.com/murase_syuka" target="_blank">@murase_syuka</a>, <a href="https://jp.twitter.com/meltedice" target="_blank">@meltice</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td><a href="https://github.com/Minamirb/benten" target="_blank">github</a></td>
        </tr>
      </table>
    </div>

    【チーム酔っぱらい（再）】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/to_ueda" target="_blank">@to_ueda</a>, <a href="https://jp.twitter.com/satomicchy" target="_blank">@satomicchy</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td><a href="http://www.slideshare.net/satomicchy/uragamiso-re" target="_blank">説明スライド<a><br /><a href="https://github.com/Minamirb/usagamiso-re" target="_blank">github</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="each_content">
    <u>＊Okinawa＊</u><br />
    【iScreenX】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/tompng" target="_blank">@tompng</a>, <a href="https://jp.twitter.com/yasulab" target="_blank">@yasulab</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>リアルタイム端末配信システムのウェブサービス化 cf. ScreenX<br /><a href="https://github.com/tompng/screenx" target="_blank">github</a></td>
        </tr>
      </table>
    </div>
    【石敢當】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/naopontan" target="_blank">@naopontan</a>, <a href="https://jp.twitter.com/todochuramasa" target="_blank">@todochuramasa</a>, <a href="https://jp.twitter.com/deeeki" target="_blank">@deeeki</a>, <a href="https://jp.twitter.com/hanachin_" target="_blank">@hanachin_</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>離乳食ウェブサイト<br /><a href="https://github.com/Ishigantou/BabyFood/" target="_blank">github</a></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="each_content">
    <u>＊Tokyo＊</u><br />
    【gistar】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>gist_mail</td>
        </tr>
      </table>
    </div>

    【こしば】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/bash0C7" target="_blank">@bash0C7</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>DA</td>
        </tr>
      </table>
    </div>

    【かじゃはし】
    <div class="team_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>Gayzo</td>
          <td></td>
        </tr>
      </table>
    </div>
  </div>
</div>
