<link rel="stylesheet" type="text/css" href="public/stylesheets/teams.less">
<div id="content">
  <p>
    <u>＊Osaka＊</u>
    <div>【benten】</div>
    <div class="each_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/yalab">@yalab</a>, <a href="https://jp.twitter.com/murase_syuka">@murase_syuka</a>, <a href="https://jp.twitter.com/meltedice">@meltice</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td><a href="https://github.com/Minamirb/benten">github</a></td>
        </tr>
      </table>
    </div>

    <div>【チーム酔っぱらい（再）】</div>
    <div class="each_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/to_ueda">@to_ueda</a>, <a href="https://jp.twitter.com/satomicchy">@satomicchy</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td><a href="http://www.slideshare.net/satomicchy/uragamiso-re">説明スライド<a><br /><a href="https://github.com/Minamirb/usagamiso-re">github</a></td>
        </tr>
      </table>
    </div>
  </p>

  <p>
    <u>＊Okinawa＊</u>
  </p>

  <p>
    <u>＊Tokyo＊</u>
    <div>【gistar】</div>
    <div class="each_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>gist_mail</td>
        </tr>
      </table>
    </div>

    <div>【こしば】</div>
    <div class="each_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td><a href="https://jp.twitter.com/bash0C7">@bash0C7</a></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>DA</td>
        </tr>
      </table>
    </div>

    <div>【かじゃはし】</div>
    <div class="each_content">
      <table>
        <tr>
          <th>メンバー</th>
          <td></td>
        </tr>
        <tr>
          <th>資料</th>
          <td>Gayzo</td>
          <td></td>
        </tr>
      </table>
    </div>
  </p>
</div>
