#main_area {
  width: 1100px;
  background-color: black;
  background-image: url('/images/hackathon2012_background_light.png');
  background-size: 100%;
  background-repeat:no-repeat;

  #main_title {

  }

  #side_area {
    float: left;
    width: 200px;
    #sub_title {
      float: left;
    }
    #date_title {
      float: left;
      margin: 25px 0 0 0;
      width: 200%;
    }
    .twitter-share-button {
      margin-top: 10px;
    }
    #produce_title {
      float: left;
      width: 150px;
      margin: 105px 0 0 0;
    }
    #comu_area {
      float: left;
      width: 410px;
      height: 30px;
      #minamirb {
        float: left;
        width: 123px;
      }
      #okinawarb {
        float: left;
        width: 137px;
      }
      #shibuyarb {
        float: left;
        width: 127px;
      }
    }
  }

  #render_area {
    float: right;
    width: 690px;
    height: 550px;
    background-image: url('/images/table_b.png');
    background-repeat:no-repeat;
  }

  .button_area {
    float: right;
    width: 200px;
    margin-top: 15px;
    margin-right: 20px;
    .each_button {
      float: right;
      margin-top: 12px;
    }
  }
}
